.contain {
  width: 100%;
  height: 100vh;
}

.teacher-classes-nav a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  margin-bottom: 20px;
}

.teacher-classes-nav a .invite {
  background: rgba(36, 194, 70, 0.18);
  color: #24c246;
}

.teacher-classes-nav a .absent {
  background: rgba(255, 84, 0, 0.13);
  color: #ff5400;
}

.teacher-classes-nav a span {
  border-radius: 11px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  padding: 10px;
}

.teacher-classes-nav .add {
  background: #ff5400;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  outline: none;
  border: none;
  padding: 7px 10px;
  border-radius: 11px;
}

.teacher-classes-nav .video-label {
  margin: 15px 0px;
}

.teacher-classes-nav .video-label .header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.teacher-classes-nav .video-label button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  background: #ffffff;
  box-shadow: 0px 4px 4px 3px rgba(229, 229, 229, 0.5);
  border-radius: 9px;
  border: 2px solid transparent;
  padding: 7px 12px;
  white-space: nowrap;
}

.teacher-classes-nav .video-label button i {
  color: #24c246;
  padding-right: 10px;
}

.teacher-classes-nav .content .chapter {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #aeb3b3;
}

.teacher-classes-nav .content .chapter span {
  color: #aeb3b3;
}

.teacher-classes-nav .content .chapter {
  color: #000000;
}

.teacher-classes-nav .content .overview {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #001618;
  border-bottom: 7px solid #001618;
}

.teacher-classes-nav .content .course-material {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #93999a;
}
.teacher-classes-nav .text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #93999a;
}

.teacher-classes-nav .topic {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.teacher-classes-nav ReactPlayer {
  border-radius: 10px;
}

.teacher-classes-nav .search-box {
  background: #ffffff;
  box-shadow: 0px 4px 4px 3px rgba(229, 229, 229, 0.5);
  border-radius: 9px;
  outline: none;
  border: none;
  padding: 10px;
  white-space: nowrap;
}

.teacher-classes-nav .search-box input {
  outline: none;
  border: none;
}

.teacher-classes-nav .search-box i {
  font-size: 30px;
  color: #094449;
}

.teacher-classes-nav .aside {
  background-color: #f4f7fc;
  min-height: 100vh;
  padding-left: 40px;
}

.teacher-classes-nav .aside .feed {
  background: #ffffff;
  box-shadow: 0px 4px 4px 3px rgba(229, 229, 229, 0.5);
  border-radius: 9px;
  padding: 20px;
}

.teacher-classes-nav .aside button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 20px;
  border: none;
}

.teacher-classes-nav .aside .feed .message {
  background: #006d77;
  box-shadow: 0px 4px 4px 3px rgba(229, 229, 229, 0.5);
  border-radius: 9px;
  color: #ffffff;
}

.teacher-classes-nav .aside .feed .participant {
  background: transparent;
}

@media (min-width: 768px) {
  .teacher-classes-nav {
    width: calc(100% - 250px);
  }

  .teacher-classes-nav .feed,
  .teacher-classes-nav .search-box {
    width: 100%;
  }
}

@media (max-width: 768px) {
  /* .teacher-classes-nav .feed, .teacher-classes-nav .search-box {
        width: 100%;
    }  */
}
