.faq {
    width: 100%;
    height: 100vh;
    background: #FFFFFF;

    h1 {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 62px;
        text-align: center;
        font-feature-settings: 'liga' off;
        color: #002C30;
        position: relative;
        top: 90px;
    }
}