.nomatch {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error-header, .error-paragraph {
    text-align: center;
}
