:root {
  --background: #e6f3f2;
  --color: #ff7633;
}

.sidebar {
  width: 200px;
  background-color: var(--background);
  min-height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

.sidebar .list-item {
  padding: 10px;
  list-style-type: none;
  color: #000000;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  text-align: left;
  margin-top: 5px;
}

.list-item a {
  text-decoration: none;
  color: inherit;
}

.sidebar-list {
  min-height: calc(100vh - 100px);
  margin-left: 20px;
  position: relative;
  top: -30px;
}

/* .sidebar .list-item:nth-child(1) {
  color: var(--color);
} */

.list-item.item {
  padding: 5px;
}

.list-item.item.active {
  color: var(--color);
  font-size: 20px;
}

.sidebar img {
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
}
